.formDiv {
  width: 40%;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  background-color: #8b7d7b;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: x-large;
}

.drop-down {
  width: 30%;
  align-self: center;
  margin-bottom: 15px;
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.formLabel {
  margin-bottom: 15px;
  color: white;
}

.submitButton {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
  background-color: white;
  border: white;
  border-radius: 8px;
  font-size: 20px;
  align-self: center;
}

.inputBox {
  margin-left: 5px;
}

.header {
  color: #292421;
}

.preference_yellow {
  color: yellow;
}

.preference_red {
  color: red;
}

.preference_blue {
  color: blue;
}