* {
  margin: 0px;
  padding: 0px;
}

input[type="text"] {
  width: 600px;
  height: 50px;
  margin-top: 16px;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #0f2557;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 16px;
  background-color: #ea4c89;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #f082ac;
}

.submit-btn {
  margin-left: 16px;
}

.disabled-submit-btn {
  margin-left: 16px;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.disabled-submit-btn:hover {
  background-color: #cccccc;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-container {
  margin-top: 16px;
}

.center-output-image {
  position: relative;
}

.description {
  margin: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.element {
  margin: 16px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
