* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #ffffff;
  background-color: #0f2557;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  width: 90%;
  margin: 60px;
  padding: 16px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sub-header {
  margin-top: 16px;
  text-align: center;
  color: #0f2557;
}

.url-upload-toggle {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  color: #0f2557;
  cursor: pointer;
}

.url-upload-toggle:hover {
  font-size: 17px;
}
